.Partners {
    margin-top: 100px;
    text-align: center;
    .Title {
        margin-bottom: 25px;
        h3 {
            font-weight: 700;
        }
        p {
            font-weight: 200;
        }
    }
}
