.Protection {
    margin-top: 100px;
    text-align: right;
    h3 {
        font-size: 30px;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        font-weight: 200;
        text-align: justify;
        margin: 0;
    }
}
